<section class="content-card about" id="about">
    <h1>Sobre mi</h1>
    <div class="about-item about-me">
        <p>
            Soy estudiante de ingeniería en sistemas apasionado por el desarrollo de soluciones tecnológicas. 
            He adquirido habilidades técnicas en programación a través de mi programa de estudios. Además, 
            también he adquirido habilidades técnicas en programación de forma autodidacta, lo que me ha 
            permitido ampliar mi conocimiento y habilidades en el desarrollo de soluciones tecnológicas.
        </p>
        <p>
            Soy una persona proactiva, organizada y responsable. 
            Siempre preparado para utilizar mis habilidades y cada vez aprender más.
        </p>
    </div>
    <div class="col-2">
        <div class="about-item">
            <h1>Skills</h1>
            <div class="skills">
                <span class="skill">HTML</span>
                <span class="skill">CSS</span>
                <span class="skill">JavaScript</span>
                <span class="skill">Node.js</span>
                <span class="skill">Angular</span>
                <span class="skill">SQL</span>
                <span class="skill">Git</span>
                <span class="skill">Nest.js</span>
                <span class="skill">MongoDB</span>
            </div>
        </div>

        <div class="about-item languages">
            <h1>Idiomas</h1>
            <div class="language">
                <p>Español</p>
                <span class="bar"><span class="spanish"></span></span>
            </div>
            <div class="language">
                <p>Ingles</p>
                <span class="bar"><span class="english"></span></span>
            </div>
        </div>
    </div>
</section>
