<section class="header">
    <img class="header-img"
        src="https://res.cloudinary.com/djnzoyal5/image/upload/v1681605051/perfil_portafolio/photo_profile_js3gpr.jpg"
        alt="Foto perfil" />
    <h1>Alex Fuentes</h1>
    <h2>Ing. en sistemas</h2>
    <div class="socials">
        <a href="https://github.com/AlexxFuentes" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
    </div>
    <a href="https://flowcv.com/resume/58dbt2q77e" target="_blank" class="cta">Descargar CV</a>
</section>
