<section class="content-card projects" id="projects">
    <h2>Proyectos</h2>
    <div class="col-2 project-list">
        <div class="project-tile">
            <img src="https://res.cloudinary.com/djnzoyal5/image/upload/v1681743871/perfil_portafolio/tigershare_km7gey.png"
                alt="" />
            <div class="overlay">
                <div class="project-description">
                    <h3>Tigershare</h3>
                    <p>
                        Frontend de la aplicación Tigershare desarrollada con Angular, HTML, CSS, Bootstrap y
                        fontawesome.
                    </p>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <img src="https://res.cloudinary.com/djnzoyal5/image/upload/v1681743872/perfil_portafolio/appstore_puipsf.png"
                alt="" />
            <div class="overlay">
                <div class="project-description">
                    <h3>Appstore</h3>
                    <p>
                        Clone de la app de Appstore de amazon.
                        Se trabajo con JavaScript, HTML, CSS, Bootstrap y 
                        los datos se obtuvieron de manera estática con un JSON generado por JavaScript.
                    </p>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <img src="https://res.cloudinary.com/djnzoyal5/image/upload/v1681743871/perfil_portafolio/gmail_xuwc7s.png"
                alt="" />
            <div class="overlay">
                <div class="project-description">
                    <h3>Gmail - clone</h3>
                    <p>
                        Clone de la app de Gmail.
                        Se trabajo con JavaScript, HTML, CSS, Bootstrap.
                    </p>
                </div>
            </div>
        </div>
        <div class="project-tile">
            <img src="https://res.cloudinary.com/djnzoyal5/image/upload/v1681743871/perfil_portafolio/Lugo_bc9qlv.png"
                alt="" />
            <div class="overlay">
                <div class="project-description">
                    <h3>Lugo - clone</h3>
                    <p>
                        Clone de la app de Lugo.
                        Se trabajo con JavaScript, HTML, CSS, Bootstrap.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="https://github.com/AlexxFuentes">see more...</a>
</section>
