<section class="content-card experience">
    <h1>Experience</h1>
    <div class="timeline">
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-date">2023 - now</div>
                <div class="timeline-content">
                    <h3>Tigershare</h3>
                    <p>
                        Puesto: Frontend Developer
                    </p>
                    <p>
                        El proyecto consiste en un tipo de SaaS en el cual nos podemos loguear, 
                        a través de nuestro correo, o por autenticación de Facebook. El objetivo de la plataforma 
                        será poder realizar proyectos web (HTML, CSS y JavaScript). 
                        Se debe de poder compartir estos proyectos para realizar trabajo colaborativo.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2023 - now</div>
                <div class="timeline-content">
                    <h3>Maketplace 504</h3>
                    <p>
                        Puesto: Backend Developer
                    </p>
                    <p>
                        El proyecto consiste en ofrecer productos por departamentos a nivel nacional, el 
                        usuario puede registrarse y ofrecer sus productos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
